/*Overall style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#2B0E4A,#000000);
}

/*Converter style*/
.converter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 800px;
    border-radius: 16px;
    border: 2px solid #616161;
    background: #1A1A1A;
    box-shadow: 0px 3px 15px rgba(81, 81, 81, 0.5);
}


/*Keyboard style*/
.keyboard_display {
    background: transparent;
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.value_display{
    color: white;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
    gap: 5px;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 16px;
    width: 100%;
    height: 100%;
}

#all_clear{
    background: #D84B16;
}
#equals{
    background: #2979FF;
}
.key {
    border-radius: 8px;
    border: none;
    background: #2D2D2D;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: background 0.3s ease;
    user-select: none;
}
.space {
    border-radius: 8px;
    border: none;
    background: #2D2D2D;
    font-size: 30px;
}

/*Results style*/
.input-group{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

input{
    background: #2D2D2D;
    border: 1px solid #616161;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: white;
}
.number-type{
    width: 20%;
    height: 100%;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: white;
    border: none;
    outline: none;
    background: transparent;
}


/*Hovers*/
#all_clear:hover {
    background: #671f0b;
}
#equals:hover {
    background: #113c93;
}
.key:hover {
    background: #404040;
}

/*Actives*/
#all_clear:active {
    background: #D84B16;
    transition: none !important;
}
#equals:active {
    background: #2979FF;
    transition: none !important;
}
.key:active {
    background: #858585;
    transition: none !important;
}
